ul {
    list-style-type : none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e2463;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

button {
    float: right;
    border: none;
    background-color: #6089e0;
    color: white;
    text-align: center;
    font-size: 16px;
    padding : 13px;
    border-radius: 20px;
    align-self: center;
}
button:hover {
    box-shadow: 10px 10px 5px black;
    background-color: #6089e0c5 ;
}
h2 {
    color: blue;
}
h2:hover {
    color:rgba(0, 0, 255, 0.76);
    text-decoration: underline;

}
#board {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}

#yakoomain {

}
#footerul {
    margin-left: 15%;
}